*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
}

.container{
    max-width:1200px;
    margin: 0 auto;
}

.bg-gray{
    background-color:gray;
}

a{
    text-decoration: none;
    color: black;
}

[class^="col-"]{
    float: right;
}

.card{
    border: 1px solid black;
    border-radius: 12px;
    margin: 12px;
    padding: 12px;
}
.image-responsive{
    width: 100%;
    height: auto;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col-xs-1{
        width: 8.33%;
    }
    .col-xs-2{
        width: calc(8.33% * 2);
    }
    .col-xs-3{
        width: calc(8.33% * 3);
    }
    .col-xs-4{
        width: calc(8.33% * 4);
    }
    .col-xs-5{
        width: calc(8.33% * 5);
    }
    .col-xs-6{
        width: calc(8.33% * 6);
    }
    .col-xs-7{
        width: calc(8.33% * 7);
    }
    .col-xs-8{
        width: calc(8.33% * 8);
    }
    .col-xs-9{
        width: calc(8.33% * 9);
    }
    .col-xs-10{
        width: calc(8.33% * 10);
    }
    .col-xs-11{
        width: calc(8.33% * 11);
    }
    .col-xs-12{
        width: calc(8.33% * 12);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-s-1{
        width: 8.33%;
    }
    .col-s-2{
        width: calc(8.33% * 2);
    }
    .col-s-3{
        width: calc(8.33% * 3);
    }
    .col-s-4{
        width: calc(8.33% * 4);
    }
    .col-s-5{
        width: calc(8.33% * 5);
    }
    .col-s-6{
        width: calc(8.33% * 6);
    }
    .col-s-7{
        width: calc(8.33% * 7);
    }
    .col-s-8{
        width: calc(8.33% * 8);
    }
    .col-s-9{
        width: calc(8.33% * 9);
    }
    .col-s-10{
        width: calc(8.33% * 10);
    }
    .col-s-11{
        width: calc(8.33% * 11);
    }
    .col-s-12{
        width: calc(8.33% * 12);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: calc(8.33% * 2);
    }
    .col-md-3{
        width: calc(8.33% * 3);
    }
    .col-md-4{
        width: calc(8.33% * 4);
    }
    .col-md-5{
        width: calc(8.33% * 5);
    }
    .col-md-6{
        width: calc(8.33% * 6);
    }
    .col-md-7{
        width: calc(8.33% * 7);
    }
    .col-md-8{
        width: calc(8.33% * 8);
    }
    .col-md-9{
        width: calc(8.33% * 9);
    }
    .col-md-10{
        width: calc(8.33% * 10);
    }
    .col-md-11{
        width: calc(8.33% * 11);
    }
    .col-md-12{
        width: calc(8.33% * 12);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-l-1{
        width: 8.33%;
    }
    .col-l-2{
        width: calc(8.33% * 2);
    }
    .col-l-3{
        width: calc(8.33% * 3);
    }
    .col-l-4{
        width: calc(8.33% * 4);
    }
    .col-l-5{
        width: calc(8.33% * 5);
    }
    .col-l-6{
        width: calc(8.33% * 6);
    }
    .col-l-7{
        width: calc(8.33% * 7);
    }
    .col-l-8{
        width: calc(8.33% * 8);
    }
    .col-l-9{
        width: calc(8.33% * 9);
    }
    .col-l-10{
        width: calc(8.33% * 10);
    }
    .col-l-11{
        width: calc(8.33% * 11);
    }
    .col-l-12{
        width: calc(8.33% * 12);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col-xl-1{
        width: 8.33%;
    }
    .col-xl-2{
        width: calc(8.33% * 2);
    }
    .col-xl-3{
        width: calc(8.33% * 3);
    }
    .col-xl-4{
        width: calc(8.33% * 4);
    }
    .col-xl-5{
        width: calc(8.33% * 5);
    }
    .col-xl-6{
        width: calc(8.33% * 6);
    }
    .col-xl-7{
        width: calc(8.33% * 7);
    }
    .col-xl-8{
        width: calc(8.33% * 8);
    }
    .col-xl-9{
        width: calc(8.33% * 9);
    }
    .col-xl-10{
        width: calc(8.33% * 10);
    }
    .col-xl-11{
        width: calc(8.33% * 11);
    }
    .col-xl-12{
        width: calc(8.33% * 12);
    }
}