.loading{
    width: 100px;
    height: 100px;
    border: 10px solid gray;
    border-left: 10px solid red;
    animation: loading 1s infinite;
    border-radius: 100%;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: start;
}

.card{
    background-color: #efefef;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.idSpan{
    background-color: cyan;
    border-radius: 50%;
    padding: 7px 12px;
}