html, body{
    height: 100%;
}

.container{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   
    gap: 40px;
    padding: 50px;

    height: 100%;
}

img{
    width: 100%;
    cursor: pointer;
    transition: all 2s ease;
}

img:hover{
    filter: brightness(0.7);
    transform: rotate(10deg);
}