.circles{
    display: flex;
    padding: 10px 0px 0px 10px;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 7px;
}

.circles div:nth-child(1){
    background-color: red;
}

.circles div:nth-child(2){
    background-color: orange;
}

.circles div:nth-child(3){
    background-color: green;
}