*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myfont;
}
@font-face {
    font-family: myfont;
    src: url(../Vazirmatn-Bold.woff2);
}
header{
    background-color: darkslateblue;
    text-align: center;
    color: white;
    line-height: 50px;
    transition: transform 0.5s ease;
}
body > input[type="checkbox"]{
    opacity: 0;
}
i, body > input[type="checkbox"]{
    position: absolute;
    top: 2%;
    left: 20%;;
}
input[type="checkbox"]{
    z-index: 1;
}
input[type="checkbox"]:checked ~ header{
    transform: translateY(-100%);
}
input[type="checkbox"]:checked ~ i{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease;
    position: relative;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
input[type="checkbox"]:checked ~ nav{
    transform: translateY(-50px);
}

body{
    direction: rtl;
}

nav button{
    padding: 5px 15px;
    border: none;
    border-right: 1px solid gray;
    background-color: transparent;
}

nav button span{
    margin-right: 10px;
}
nav label.fa-bars{
    opacity: 0;
    font-size: 24px;
    margin-right: 10px;
}

input#burger{
    display: none;
}

@media screen and (max-width:600px){
    nav ul{
        display: none;
    }
    input#burger:checked ~ ul{
    background-color: antiquewhite;
    position: absolute;
    display: block;
    top: 100%;
    width: 100%;
    padding: 20px;
}
    input#burger:checked ~ ul li{
        width: 100%;
        padding: 10px;
    }
        nav label.fa-bars{
        opacity: 1;
    }
}

